*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(#43cea2, #185a9d);
    height: 100vh;
}
h1{
    color: aquamarine;
}