@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg,darkslateblue, aqua,white,darkslateblue);
    font-family: 'Josefin Sans', sans-serif;
    padding: 40px;
    color:darkslateblue;
}
form{
    outline: 2px dashed blue;
    width: 300px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.5);
}
select, button{
    margin: 20px;
    background-image: linear-gradient(darkslateblue, aqua,white,darkslateblue);
    border-radius: 5px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
    box-shadow:  2px 2px 5px grey;
}
button:acctive{
    
}
